<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

	<extensions>
		<add assembly="Bolt.Automation.Common" />
	</extensions>

	<targets>
		<!-- NUnit test output -->
		<target name="testoutput" xsi:type="TestOutput"
				layout=" ${message} ${exception:format=tostring}" />

		<!-- Debug output for Visual Studio -->
		<target name="debugger" xsi:type="Debugger"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />

		<!-- Console output -->
		<target name="console" xsi:type="ColoredConsole"
				layout="${date:format=yyyy-MM-dd HH\:mm\:ss} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />
	</targets>

	<rules>
		<!-- NUnit test output: Controlled by LOGLEVEL env var, default Info -->
		<logger name="*" minlevel="${environment:LOGLEVEL:default=Info}" writeTo="testoutput" />

		<!-- Console: Only when CONSOLE_LOG=true (disabled in CI by default to avoid duplicate output) -->
		<logger name="*" minlevel="${environment:LOGLEVEL:default=Info}" writeTo="console">
			<filters defaultAction="Ignore">
				<when condition="'${environment:CONSOLE_LOG:default=false}' == 'true'" action="Log" />
			</filters>
		</logger>

		<!-- Debugger: Only in non-CI environments -->
		<logger name="*" minlevel="${environment:LOGLEVEL:default=Warning}" writeTo="debugger">
			<filters defaultAction="Ignore">
				<when condition="'${environment:CI:default=false}' != '1'" action="Log" />
			</filters>
		</logger>
	</rules>
</nlog>
