<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

	<extensions>
		<add assembly="Bolt.Automation.Common" />
	</extensions>

	<targets>
		<!-- NUnit test output -->
		<target name="testoutput" xsi:type="TestOutput"
				layout=" ${message} ${exception:format=tostring}" />

		<!-- Debug output for Visual Studio -->
		<target name="debugger" xsi:type="Debugger"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />

		<!-- Console output -->
		<target name="console" xsi:type="ColoredConsole"
				layout="${date:format=yyyy-MM-dd HH\:mm\:ss} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />
	</targets>

	<rules>
		<!-- NUnit test output: Info and above -->
		<logger name="*" minlevel="Info" writeTo="testoutput" />
		<!-- Debugger: Info and above -->
		<logger name="*" minlevel="Info" writeTo="debugger" />
		<!-- Console: Info and above -->
		<logger name="*" minlevel="Info" writeTo="console" />
	</rules>
</nlog>
